Package: com.pathkiller.nccolors
Name: NCColors
Version: 0.5-1a
Architecture: iphoneos-arm
Description: Change Notication Center Background color.
Maintainer: PathKiller29 <appleidname@yahoo.com>
Author: PathKiller29 <appleidname@yahoo.com>
Depends: mobilesubstrate, firmware (>= 5.0)
Section: Tweaks
dev: PathKiller29
